doctype html
html
	head
		base(href="/")
		title Simple App
		// CSS
		link(rel="stylesheet", href="libs/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="css/style.css")

		// JS
		script(src="libs/angular/angular.min.js")
		script(src="libs/angular-route/angular-route.min.js")

		// ANGULAR CUSTOM
		script(src="src/js/controllers/MainCtrl.js")
		script(src="src/js/appRoutes.js")
		script(src="src/js/app.js")
	body(ng-app="simpleApp")
		div.container
			nav.navbar.navbar-inverse
				div.navbar-header
					a.navbar-brand(href="/") Simple App
				ul.nav.navbar-nav
					li
						a(href="/") Home
			// ANGULAR DYNAMIC CONTENT
			div(ng-view)

			
			
